// импорт библиотек
@import 'myLibs/_fonts.scss'; // шрифты загружаються первыми для более лучшей оптимизации
@import 'normalize';
@import 'myLibs/_color-theme.scss';
@import 'myLibs/_animation.scss';
@import 'myLibs/_buttons.scss';
@import 'myLibs/_mixin.scss';
@import 'myLibs/_templates.scss';
@import 'myLibs/_media.scss';
@import 'myLibs/_sprite.scss';
@import 'myLibs/_icons.scss';

// Подключенные файлы: 
// 	1.Стили myLib:
//      _animation.scss
//	    _buttons.scss
//	    _color-theme.scss
//	    _fonts.scss
//	    _media.scss
//	    _mixin.scss
//	    _sprite.scss
//	    _sprite-mixin.scss
//      _tabs.scss
// 	    _templates.scss
//  2. normalize

// ==================ОБЩИЕ СТИЛИ ДЛЯ ВСЕХ СТРАНИЦ=====================
//	Оглавление:

//	1. Пользовательские стили
//  	1.1 body, :root
//		1.2 Ссылки
//		1.3 Списки
//		1.4 Заголовки
//	2. Типографика
//	3. Сетка
//	4. Полосы	
//	5. Clearfix
//	6. Общие стили

// Переменные для общего использования:


// 1. ПОЛЬЗОВАТЕЛЬСКИЕ СТИЛИ ===============================

//1.1 body, :root; ====================

head, body {
	overflow-x: hidden;
}

:root { // элемент HTML
	font-size: 1em;
	@include media-breakpoint-down(lg) {
		font-size: .9rem;
	}
	@include media-breakpoint-down(md) {
		font-size: 0.85rem;
	}
	@include media-breakpoint-down(sm) {
		font-size: 0.75em;
	}
	@include media-breakpoint-down(xxs) {
		font-size: .65em;
	}
};

body {
	font: 400 1rem/1.5 $contentFont;
	color: $font-color;
}

//1.2 Ссылки ====================
.link {
	//display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	color: $font-color;
	cursor: pointer;
	@include media-breakpoint-up(lg) {
		transition: color .2s ease-out;
	}
	&:hover {
		color: $link_colorHovered;
	}
	&_color_light {
		color: $link_color_light;
		&:hover {
			color: $link_color_lightHoverd;
		}
	}
	&_color_icon {
		color: $icon-color;
	}
	&_color_info {
		color: $info-color;
		&:hover {
			color: adjust-color($info-color, $lightness: -20%);
		}
	}
	&_color_font {
		color: $font-alt-color;
		&:hover {
			color: $font-light-color;
		}
	}
}

/* a[href^="tel:"] {
	display: block;
	padding-bottom: .5em;
} */

//1.3 Списки ====================

ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
li {
	margin: 0;
}

//1.4 Заголовки ====================

/* h1, h2, h3, h4, h5 {
	font: { // свойство font сбивает line-height до установок браузера, поэтому font пишеться развернуто;
		family: $titleFont;
		weight: 300;
	}
	text-transform: uppercase;
} */

h1 {
	font-size: 2.125rem; // 36px
}

h2 {
	font-size: 1.5rem; // 24px
	font-weight: 400;
}

h3 {
	//font-size: 1.3125rem; // 21px
}

h4 {
	font-size: 1.125rem; //18px
}

h5 {
	font: {
		size: 0.875rem; //14px
		weight: 500;
	}
	letter-spacing: .1em;
	word-spacing: .4em;
}

// 2. ТИПОГРАФИКА ===============================

h1, h2, h3, h4, h5, p {
	margin: {
		bottom: 0;
		top: 0;
	};
}
h1 {
	margin-bottom: 2em;
}

h2 {
	margin-bottom: 3em;
}

h3 {
	//margin-bottom: 2em;
}

h4 {
	margin-bottom: 1.5em;
}

p {
	margin-bottom: 1em;
}

small {
	font-size: .9em;
}

// 3. СЕТКА ===============================


 $container-padding: 0.937rem; // 15px

.container {
	box-sizing: border-box;
	width: 100%;
	max-width: 970px;
	margin: 0px auto;
	padding: 0 $container-padding;
	&_type_offset {
		@include media-breakpoint-up(lg) {
			padding: 0 56px;
		}
	}
	// @media(max-width: 1260px) {
	// 	max-width: 1100px;
	// }
	// @include  media-breakpoint-down($max-width: lg) {
	// 	max-width: 940px
	// }
	// @include  media-breakpoint-down($max-width: md) { //-61px
	// 	max-width: 707px
	// }
	// @include  media-breakpoint-down($max-width: sm) {
	// 	max-width: 515px
	// }
}


%col-1-4 {
	width: 25%;
}

%col-3-4 {
	width: 75%;
}

%col-1-3 {
	width: 33%;
}

%col-2-3 {
	width: 66%;
}

%col-1-2 {
	width: 50%;
}

// 4. ПОЛОСЫ ===============================
.row {
	padding-top: 85px;
	padding-bottom: 110px;
	@media(max-width: 991px) {
		padding-top: 80px;
		padding-bottom: 90px;
	}
	@media(max-width: 576px) {
		padding-top: 60px;
		padding-bottom: 75px;
	}

}


// 5. Clearfix ===============================

.clearfix::before,
.clearfix::after {
	content: "";
	display: block;
}  
.clearfix::after {
	clear: both;
}
.clearfix {
	clear: both;
	*zoom: 1; 
}

// 6. Остальные стили ===============================

// menu ===============================
.menu {
	font-size: 1rem;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	&_type_origin {
		.menu__item {
			display: flex;
			align-items: center;
			padding: 0 21px;
			border-left: 1px solid #eee;
			letter-spacing: .52px;
			height: 100%;
			font-size: 16px;
		}
		.menu__item:last-of-type {
			border-right: 1px solid #eee;
		}
		@include media-breakpoint-down(sm) {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: 10;
			background-color: adjust-color($light-color, $alpha: -.08);
			width: 50%;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-end;
			font-size: 15px;
			transform: translateX(-100%);
			transition: .2s;
			overflow: auto;
			.menu__item, .menu__item:last-of-type {
				border: none;
			}
			.menu__item {
				height: auto;
				padding: 20px;
				margin-right: 10px;
				margin-top: 10px;
			}
			&.menu_focused {
				transform: translateX(0);
			}
			@include media-breakpoint-down(xs) {
				width: 75%;
			}
		}
	}
	&_type_login {
		@include media-breakpoint-down(xxs) {
			display: flex;
			justify-content: flex-end;
			flex-direction: row-reverse;
		}
		.menu__item {
			display: flex;
			align-items: center;
			height: 45px;
			border-right: 1px solid #383838;
			padding-right: 24px;
			padding-left: 21px;
			&:first-of-type {
				padding-right: 16px;
			}
			@include media-breakpoint-down(xs) {
				padding: 0;
				&:first-of-type {
					padding: 0;
				}
				&:last-of-type {
					border: initial;
				}
			}
			@include media-breakpoint-down(xxs) {
				border: initial;
				&:last-of-type {
					margin-right: 5px;
				}
			}
		}
		.menu__link {
			font-size: 11px;
			letter-spacing: .01px;
			@include media-breakpoint-down(md) {
				padding: 5px;
			}
		}
	}
	&_type_counter {
		.menu__item {
			display: flex;
			align-items: center;
			padding-right: 1.5em;
			padding-left: 1.37em;
			min-height: 100%;
			@include media-breakpoint-up(lg) {
				border-left: 1px solid #ccc;
			}
		}
		.menu__item:last-of-type {
			@include media-breakpoint-up(lg) {
				border-right: 1px solid #ccc;
			}
		}
		@include media-breakpoint-down(sm) {
			height: 100%;
		}
	}
	&_type_footer {
		font-size: 12px;
		@include media-breakpoint-down(xs) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		.menu__separate {
			margin: 0 3px 0 3px;
			@include media-breakpoint-down(xs) {
				display: none;
			}
		}
		.menu__item {
			letter-spacing: .3px;
			@include media-breakpoint-down(sm) {
				margin-top: 10px;
			}
		}
	}
	&-counter {
		display: flex;
		align-items: center;
		&__item {
			margin-left: 8px;
			@include media-breakpoint-up(lg) {
				transition: .2s ease-out;
			}
		}
		&:hover &__item {
			background-color: $info-color;
		}
	}
}

// section ===============================
.section {
	&__header {
        display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&_theme_dark {
		background: $dark-color;
	}
	&_type_goods {
		padding-top: 17px;
		padding-bottom: 20px;
	}
}

// text ===============================
.text {
	margin: 0;
	&_size_small{
		font-size: 11px;
	}
}
 // notice ===============================
.notice {
	font-size: 12px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background-color: $info-color;
	vertical-align: middle;
	color: $font-superLight-color;
	letter-spacing: .6px;
	text-align: center;
	z-index: 3;
	height: 36px;
	line-height: 1.3;
	&_size_small {	
		font-size: 12px;
		min-width: 20px;
		height: 20px;
	}
	&_size_normal {
		width: 36px;
		min-width: 36px;
	}
	&_size_large {
		width: 68px;
		height: 67px;
	} 
	&_color_disabled {
		background-color: #ababab;
	}
	&_color_dark {
		background-color: $base-color;
	}
	&_color_bright {
		background-color: #f27e4b;
	}
	&_border_round {
		border-radius: 4px;
	}
	&-list {
		margin-right: 10px;
	}
}

// slider =================================
.slider {
	&__box {
		overflow: hidden;
	}
}

// title ================================
.title {
	margin: 0;
}

// object (for image) ==========================
.object {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	&_offer {
		object-fit: contain;
	}
}

// title =======================================
.title {
	font-size: 14px;
	margin-bottom: 9px;
}

// text =======================================
.text {
	font-size: 12px;
	line-height: 1.4;
	&_style_italic {
		font-style: italic;
	}
}

// author =======================================
.author {
	font-size: 12px;
	font-style: italic;
}

// form =======================================
.form {
	&_type_mail {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}
	&__text {
		box-sizing: border-box;
		outline: none;
		border: none;
		padding: 0;
		margin: 0;
		width: 214px;
		height: 36px;
		background-color: $dark-color;
		font-size: 12px;
		font-style: italic;
		padding: 0 10px;
		color: $font-light-color;
		&:focus {
			border: 1px solid currentColor;
		}
		&::placeholder {
			color: $font-alt-color;
			letter-spacing: .1px;
		}
	}
	&__btn {
        width: 36px;
		height: 36px;
		margin: 0;
		padding: 0;
		background-color: $link_color_light;
		color: $font-color;
		&:hover {
			@include media-breakpoint-up(lg) {
				transition: .1s ease-in;
			}
			background-color: $light-color;
			color: $info-color;
		}
    }
}


// visuallyHiden =======================================
.visuallyhidden {
	display: none;
}